<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
<div><br/>
  <p style="text-align: center;">
    BakhtArt Website: <a href = "https://bakhtart.netlify.app"><u>BakhtArt</u></a>
  </p>
</div>
</body>
</html>
